/*dropdwon-menu*/
.dropdown-menu{
    min-width: 100px !important;
}
.dropdown-menu li:hover{
    background-color: #F5F5F5 !important;
    box-shadow: none !important;
    margin: 0 !important;
    border-radius: 0 !important;
}
.dropdown-menu li:hover .dropdown-item{
    font-family: 'Pretendard-Bold' !important;
}
.dropdown-menu li{
    padding: 10px 15px !important;
}
.dropdown-toggle i{
    font-size: 15px;
    color: #808080;
    margin-left: 10px;
}
.dropdown-item:hover{
    background-color: transparent;
}
.dropdown-item{
    text-align: center;
    color: #3b3b3b !important;
    text-decoration: none !important;
}
.dropdown-item:active{
    color: #3b3b3b;
}
.dropdown-toggle::after{
    display: none;
}


/*input*/
input:not(input[type="checkbox"],input[type="radio"]){
    width: 100%;
    font-size: 18px;
    padding: 18px 20px;
    border-radius: 4px;
    height: 45px;
    font-family: 'Pretendard-Regular';
    color: #3b3b3b;
    border-color: rgba(0,0,0,.1);
}
input[type="checkbox"]{
    width:15px;
    height: 15px;
    accent-color: #009992;
}
input[type="radio"]{
    width:15px;
    height: 15px;
    accent-color: #009992;
}
input[type="checkbox"]:checked{
    background-color: #009992;
    border-color: #009992;
}
.form-check{
    display: flex;
    align-items: center;
}
.form-check label{
    font-size: 18px;
    color: #3b3b3b;
    font-family: 'Pretendard-Regular';
    margin-left: 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea{
    width: 100%;
    font-size: 18px !important;
    padding: 18px 20px !important;
    font-family: 'Pretendard-Regular';
    color: #3b3b3b;
    border-radius: 4px;
    min-height: 300px;
    border-color: rgba(0,0,0,.1);
}
/*datePicker*/
.date-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.input-group{
    width: 49%;
}
.tempus-dominus-widget.light{
    padding: 30px 20px 20px 20px !important;
}
.small-input{
    min-width: 65px !important;
    width: 65px !important;
}
.thin-input{
    height: 30px !important;
}

/*select*/
.form-select-lg{
    font-size: 18px;
    font-family: 'Pretendard-Regular';
    color: #3b3b3b;
    border-color: rgba(0,0,0,.1);
}

/*button*/
.btn-success{
    font-family: 'Pretendard-Regular';
    border-radius: 4px;
    font-size: 18px;
    background-color: #009992 !important;
    border-color: #009992 !important;
    color: #fff !important;
}
.btn-secondary{
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    border-radius: 4px;
    background-color: #808080 !important;
    border-color: #808080 !important;
    color: #fff !important;
}
.btn-success:hover{
    background-color: #017c76;
    border-color: #017c76;
}
.medium-btn{
    padding: 8px 20px;
    border-radius: 4px;
    width: 130px;
}
.fullWidth-btn{
    padding: 8px 20px;
    border-radius: 4px;
    width: 100%;
}
.modal-btn{
    height: 45px;
    padding: 0 20px;
    border-radius: 4px;
}
.small-btn{
    padding: 3px 15px !important;
    border-radius: 4px;
    font-size: 16px !important;
}
.solid-btn{
    background-color: #fff !important;
    color: #009992 !important;
    border-color: #009992 !important;
}
.file-btn label{
    display: flex;
    align-items: center;
    color: #009992;
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 100px;
    border: 1px solid #009992;
    width: fit-content;
}
.file-btn label i{
    color: #009992;
    margin-right: 10px;
}
.check-list-upload-btn{
    display: flex;
    align-items: center;
    color: #009992;
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 100px;
    border: 1px solid #009992;
    width: fit-content;
    background-color: #fff;
}
.check-list-upload-btn i{
    margin-left: 10px;
}
.comment-btn{
    background-color: #fff;
    color: #009992;
    font-size: 18px;
    min-width: 50px;
}
.close-btn{
    background-color: #fff;
    color: #808080;
    font-size: 18px;
    min-width: 50px;
}

/*tab*/
.nav-tabs{
    border-color: #009992;
}
.nav-tabs button{
    font-size: 18px;
    color: #3b3b3b;
    line-height: 150%;
    padding: 8px 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #009992 !important;
    background-color: #fff !important;
    border : none !important;
    border-bottom: 1px solid #009992 !important;
}
.nav-tabs .nav-link:hover{
    color: #009992 !important;
}
.nav-tabs .active{
    border-color: #009992 !important;
    background-color: #F2FAFA !important;
    color: #009992 !important;
    border: 1px solid #009992 !important;
}


/*modal*/
.modal-footer{
    border-top: none;
}
.modal-header{
    padding: 30px 30px 20px 30px;
}
.modal-header .btn-close{
    font-size: 15px;
    color: #3b3b3b;
}
.modal-body{
    padding: 30px 30px 0 30px;
}
.modal-footer{
    padding: 20px 30px 30px 30px;
}
.large-modal{
    width: 920px !important;
    max-width: 920px !important;
}
.Xlarge-modal{
    width: 1100px !important;
    max-width: 1100px !important;
}
.medium-modal{
    width: 600px !important;
    max-width: 600px !important;
}
.search-btn-wrap{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 10px;
}
.search-input-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input-wrap input{
    width: 70%;
}
.date-input-wrap{
    display: flex;
    align-items: center;
}
.date-input-wrap .date-wrap:first-child{
    margin-right: 10px;
}
.dp-input-wrap{
    display: flex;
    align-items: center;
}
.modal-table .subject-title{
    background-color: #009992;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 20px;
    margin-top: 20px;
}
.modal-table .subject-title h2{
    font-size: 18px;
    color: #fff;
    line-height: 150%;
}
.modal-table .add-list{
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #009992;
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
    cursor: pointer;
}
.modal-table .add-list i{
    margin-right: 5px;
}
.modal-table .add-list-input-wrap{
    background-color: #E1F9F9;
    padding: 13px 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
}
.modal-table .add-list-input-wrap .add-list-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-table .add-list-input-wrap .add-list-input input{
    padding: 10px !important;
    height: 35px !important;
    width: 86% !important;
    font-size: 16px !important;
}
.modal-table .scroll-table {
    height: 31vh;
    overflow-y: scroll;
}

/*video*/
video{
    width: 50%;
}

/*pagination*/
.page-item a{
    padding: 13px 20px;
    color: #808080;
    font-size: 18px;
}
.active>.page-link, .page-link.active{
    background-color: #009992;
    border-color: #009992;
}
.box{
    width: 130px;
}

/*반응형*/
@media (max-width: 1800px) {


}
@media (max-width: 1200px) {
    .file-btn{
        width: 100%;
    }
    .check-list-upload{
        width: 100%;
    }
    .large-modal{
        width: auto !important;
        min-width: auto !important;
    }
    .medium-modal{
        width: auto !important;
        min-width: auto !important;
    }

    .search-input-wrap{
        margin: 0;
    }
}

@media (max-width: 768px) {
    input:not(input[type="checkbox"]){
        font-size: 16px;
    }
    textarea.form-control{
        font-size: 16px !important;
    }
    .file-btn label{
        font-size: 16px;
    }
    .medium-btn{
        font-size: 16px;
        width: auto;
    }
    .btn-success,.btn-secondary{
        font-size: 16px;
    }
    .page-item a{
        font-size: 16px;
    }
    .active span{
        font-size: 16px;
        padding: 13px 20px;
    }
    .pagination-lg{
        width: 100%;
        margin-bottom: 30px;
    }
    .comment-btn{
        font-size: 16px;
    }
    .close-btn{
        font-size: 16px;
    }
    video{
        width: 100%;
    }
    .date-wrap{
        width: 100%;
    }
    .dp-input-wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .modal-table{
        width: 100%;
    }
    .modal-table .add-list-input-wrap .add-list-input{
        flex-direction: column;
    }
    .modal-table .add-list-input-wrap .add-list-input input{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .modal-table .add-list-input-wrap .add-list-input button{
        width: 100%;
    }
    .modal-table .total-score ul li:first-child{
        width: 40%;
    }
    .modal-table .add-list{
        font-size: 16px;
    }
    .modal-table .subject-title h2{
        font-size: 16px;
    }
    .form-select-lg{
        font-size: 16px;
    }
    .Xlarge-modal{
        width: 90% !important;
        min-width: 90% !important;
    }
    .nav-tabs button{
        padding: 8px 15px;
        font-size: 16px;
    }
    .page-item a span{
        padding: 0 !important;
    }
    .file{
        width: 100% !important;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .search-btn-wrap{
        width: 50%;
    }

}


@media (max-width: 568px) {
    .table-wrap .small-btn{
        font-size: 12px !important;
        padding: 3px 5px !important;
    }
    .search-input-wrap{
        flex-direction: column;
    }
    .date-input-wrap{
        flex-direction: column;
        width: 100%;
    }
    .date-input-wrap .date-wrap:first-child{
        margin-bottom: 10px;
    }
    .date-input-wrap .date-wrap:first-child{
        margin-right: 0;
    }
    .search-btn-wrap{
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
    .search-btn-wrap button{
        width: 100%;
    }
    .modal-table .scroll-table {
        height: 20vh;
    }
}
@media (max-width: 290px) {

    .nav-tabs button {
        padding: 5px 8px;
        font-size: 12px;
    }
}