{% load static %}
{% include 'professor/layout/layout.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/drm.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="main-title">
            <h1>{{ object.type.name }} 상세</h1>
        </div>
        <div class="background h-auto">
            <div class="sub-title">
                <h1>{{ object.type.name }} 과제 정보</h1>
            </div>
            <div class="detail-wrap">
                <div class="detail-title">
                    <h1>{{ object.title }} 지침서</h1>
                    <p class="date">{{ object.created_date }}</p>
                </div>
                <div class="detail-content h-20vh">
                    <p>
                        {{ object.content|linebreaksbr }}
                    </p>
                </div>
                {% include "common/layout/post_image.html" %}
            </div>
            {% include "common/layout/post_file.html" %}
            <div class="sub-title mt-30">
                <h1>지침서 과제</h1>
            </div>
            <div class="detail-wrap">
                <div class="detail-title">
                    <h1>{{ assignment_object.title }}</h1>
                    <p class="date">{{ assignment_object.created_date }}</p>
                </div>
                <div class="detail-content h-20vh">
                    <p>
                        {{ assignment_object.content|linebreaksbr }}
                    </p>
                </div>
            </div>
            <div class="evaluation-box mb-30">
                {% if score == None %}
                    <h2>평가 미실시</h2>
                {% else %}
                    <h2>평가</h2>
                    <ul class="radio-wrap">
                        <li>
                            <input type="number" name="eval" id="eva1"
                                   value="{{ score }}">
                        </li>
                        <li>
                            <button type="submit" class="btn btn-success medium-btn"
                                    onclick="">
                                적용
                            </button>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div class="dp-flex align-center space-between border-bottom file-download-wrap ">
                <a href="{{ assignment_object.postfile_set.first.file.url }}" download>
                    <div class="file file-delete mb-0">
                        <h2>{{ assignment_object.postfile_set.first.filename }}</h2>
                        <button><i class="fa-solid fa-download"></i></button>
                    </div>
                </a>
            </div>
            <div class="bottom-btn-wrap">
                <button type="button" class="btn btn-secondary medium-btn solid-btn"
                        onclick="location.href=''">
                    목록
                </button>
                <div>
                    <button type="button" class="btn btn-success medium-btn"
                            onclick="location.href=''">
                        수정
                    </button>
                </div>
            </div>
            {% include "student/layout/comment_block.html" %}
        </div>
    </div>
{% endblock %}