{% load static %}
{% include 'professor/layout/layout.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/drm.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="main-title">
            <h1>핵심수기술 등록</h1>
        </div>
        {% if method == "modify" %}
            <form action="{% url 'professor:curriculum_modify' subject_id type_id object.id %}" method="post"
                  enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'professor:curriculum_create' subject_id type_id %}" method="post"
                  enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
        <div class="background one-page">
            {% if method == "modify" %}
                <div class="rigist-wrap">
                    <ul>
                        <li>
                            <h3>제목</h3>
                            <input class="form-control form-control-lg" type="text" placeholder="제목을 입력하세요."
                                   aria-label=".form-control-lg example" name="title" value="{{ object.title }}">
                            <input type="text" id="checklist_set_id" name="checklist_set_id"
                                   value="{{ checklist_set_id }}" hidden>
                        </li>
                        <li>
                            <h3>설명</h3>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="11"
                                      placeholder="설명을 입력하세요."
                                      name="content">{{ object.content|linebreaksbr }}</textarea>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="rigist-wrap">
                    <ul>
                        <li>
                            <h3>제목</h3>
                            <input class="form-control form-control-lg" type="text" placeholder="제목을 입력하세요."
                                   aria-label=".form-control-lg example" name="title">
                            <input type="text" id="checklist_set_id" name="checklist_set_id" value="" hidden>
                        </li>
                        <li>
                            <h3>설명</h3>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="11"
                                      placeholder="설명을 입력하세요." name="content"></textarea>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="check-list-wrap">
                <div class="sub-title check-list-downUp border-bottom-color">
                    <h1>체크리스트</h1>
                    <button id="upDownBtn"><i class="fa-solid fa-caret-up" id="upDown-icon"></i></button>
                </div>
                <div class="table-wrap">
                    <div class="table" id="check-table">
                        <ul class="th-list">
                            <li class="th w-2">
                                <h2>번호</h2>
                            </li>
                            <li class="th w-8">
                                <h2>체크 항목</h2>
                            </li>
                        </ul>
                        {% if method == "modify" %}
                            {% for i in selected_checklist_objects %}
                                <ul class="tb-list">
                                    <li class="tb w-2">
                                        <h2>{{ forloop.counter }}</h2>
                                    </li>
                                    <li class="tb w-8">
                                        <h2>{{ i.checklist.content }}</h2>
                                    </li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="dp-flex align-center space-between">
                    <div class="evaluation-box">
                        <h2>평가여부</h2>
                        <ul class="radio-wrap">
                            {% if method == "modify" %}
                                <li>
                                    <input type="radio" name="eval" value="True" id="eva1"
                                           {% if evaluation_status %}checked{% endif %}>
                                    <label for="eva1">적용</label>
                                </li>
                                <li>
                                    <input type="radio" name="eval" value="False" id="eva2"
                                           {% if evaluation_status %}{% else %}checked{% endif %}>
                                    <label for="eva2">미적용</label>
                                </li>
                            {% else %}
                                <li>
                                    <input type="radio" name="eval" value="True" id="eva1" checked>
                                    <label for="eva1">적용</label>
                                </li>
                                <li>
                                    <input type="radio" name="eval" value="False" id="eva2">
                                    <label for="eva2">미적용</label>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="dp-flex dp-end">
                        <div class="dp-flex dp-center">
                            <div class="check-list-upload">
                                <button class="check-list-upload-btn" data-bs-toggle="modal"
                                        data-bs-target="#checkList-modal">
                                    체크리스트 선택
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-btn-wrap">
                    <button type="button" class="btn btn-secondary medium-btn solid-btn"
                            onclick="location.href='{% url 'professor:curriculum' subject_id type_id %}'">
                        목록
                    </button>
                    <div>
                        <button type="button" class="btn btn-secondary medium-btn"
                                onclick="location.href='{% url 'professor:curriculum' subject_id type_id %}'">
                            취소
                        </button>
                        <button type="submit" class="btn btn-success medium-btn">
                            적용
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="checkList-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  large-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">체크리스트 선택</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-wrap">
                        <div class="table h-50vh" id="check-table">
                            <ul class="th-list">
                                <li class="th w-1">
                                    <h2>번호</h2>
                                </li>
                                <li class="th w-7">
                                    <h2>제목</h2>
                                </li>
                                {#                                <li class="th w-3">#}
                                {#                                    <h2>등록일시</h2>#}
                                {#                                </li>#}
                                <li class="th w-2">
                                    <h2>수락</h2>
                                </li>
                            </ul>
                            {% for data in checklist_objects %}
                                <ul class="tb-list">
                                    <li class="tb w-1">
                                        <h2>{{ forloop.counter }}</h2>
                                    </li>
                                    <li class="tb w-7">
                                        <h2>{{ data.name }}</h2>
                                    </li>
                                    {#                                    <li class="tb w-3">#}
                                    {#                                        <h2>{{ data.created_date }}</h2>#}
                                    {#                                    </li>#}
                                    <li class="tb w-2">
                                        <button type="button" class="btn btn-success small-btn"
                                                onclick="checklistSelect({{ data.id }})">
                                            적용
                                        </button>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success modal-btn" id="modal-close" data-bs-dismiss="modal">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            // "체크리스트 선택" 버튼 클릭 이벤트 처리
            $('.check-list-upload-btn').click(function (e) {
                e.preventDefault(); // 버튼의 기본 동작(폼 제출)을 방지

                // 모달 열기
                $('#checkList-modal').modal('show');
            });

        });


        function checklistSelect(checklistId) {
            document.getElementById("checklist_set_id").value = checklistId;
            document.getElementById("modal-close").click();

            // AJAX 요청을 보냅니다.
            $.ajax({
                url: '/api/3/checklist',  // 서버에서 데이터를 가져올 URL을 지정하세요.
                type: 'GET',
                data: {checklist_set_id: checklistId},
                dataType: 'json',  // 반환되는 데이터 유형 (JSON 예상)
                success: function (data) {
                    // 서버에서 반환된 데이터를 사용하여 테이블 업데이트
                    if (data) {
                        // 예시: 서버에서 JSON 형식의 데이터를 반환하는 경우
                        updateTableWithData(data);
                    }
                },
                error: function (error) {
                    console.error('에러 발생:', error);
                }
            });

            // 모달 닫기
            $('#checkList-modal').modal('hide');
        }

        // 서버에서 반환된 데이터로 테이블 업데이트
        function updateTableWithData(data) {
            // 데이터를 사용하여 테이블 업데이트 로직을 구현
            // 예시: data를 반복하면서 테이블 열 추가
            var table = $('#check-table');
            table.empty();  // 테이블 내용 지우기
            table.append('<ul class="th-list"><li class="th w-2"><h2>번호</h2></li><li class="th w-8"><h2>체크 항목</h2></li></li></ul>')
            // 데이터를 사용하여 테이블 열 추가
            for (var i = 0; i < data.length; i++) {
                var row = '<ul class="tb-list">';
                row += '<li class="tb w-2"><h2>' + (i + 1) + '</h2></li>';
                row += '<li class="tb w-8"><h2>' + data[i].content + '</h2></li>';
                {#row += '<li class="tb w-1"> <input type="radio" name="check" id="check1" disabled> </li>'#}
                {#row += '<li class="tb w-1"> <input type="radio" name="check" id="check1" disabled> </li>'#}
                {#row += '<li class="tb w-1"> <input type="radio" name="check" id="check1" disabled> </li>'#}

                // 여기에 라디오 버튼 추가 등의 로직을 구현
                row += '</ul>';
                table.append(row);
            }
        }
    </script>
{% endblock %}
