<div class="dp-flex dp-end file-download-wrap">
    {% for file in files %}
        <div class="dp-flex dp-end border-bottom">
            {% if file.file.url|lower|slice:"-3:" == "pdf" %}
                <a href="/api/pdf?file={{ file.file.url }}">
            {% else %}
                <a href="{{ file.file.url }}" download>
            {% endif %}
            <div class="file file-delete mb-0">
                <h2>{{ file.filename }}</h2>
                <button><i class="fa-solid fa-download"></i></button>
            </div>
            </a>
        </div>
    {% endfor %}
</div>