{% load static %}
{% include 'student/layout/layout.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/drm.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="main-title">
            <h1>공지사항 상세</h1>
        </div>
        <div class="background one-page">
            <div class="detail-wrap">
                <div class="detail-title">
                    <h1>{{ object.title }}</h1>
                    <p class="date">{{ object.created_date }}</p>
                </div>
                <div class="detail-content">
                    <p>
                        {{ object.content|linebreaksbr }}
                    </p>
                </div>
                {% for file in files %}
                {%if file.file_extension == "image" %}
                <img src="{{file.file.url}}" class="rounded float-left" alt="...">
                {%endif%}
                {%endfor%}
            </div>
            <div class="dp-flex dp-end file-download-wrap">
                {% for file in files %}
                    <div class="dp-flex dp-end border-bottom">
                        <a href="{{ file.file.url }}" download>
                            <div class="file file-delete mb-0">
                                <h2>{{ file.filename }}</h2>
                                <button><i class="fa-solid fa-download"></i></button>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="bottom-btn-wrap">
                <button type="button" class="btn btn-secondary medium-btn solid-btn"
                        onclick="location.href='{% url 'student:curriculum' subject_id type_id %}'">
                    목록
                </button>
            </div>
        </div>
    </div>
{% endblock %}